<h1>
	Kirjaudu sisään
</h1>

<%= form_tag sessions_path do %>
	<div class="field input-group input-group-lg">
		<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
		<%= text_field_tag :username, params[:username], :class => "form-control", :placeholder => "Käyttäjänimi" %>
	</div>

	<div class="field input-group input-group-lg">
		<span class="input-group-addon"><i class="glyphicon glyphicon-eye-close"></i></span>
		<%= password_field_tag :password, params[:username], :class => "form-control", :placeholder => "Salasana" %>
	</div>
	
	<p class="button">
		<%= submit_tag "Kirjaudu sisään", :class => "btn btn-default" %>
	</p>
<% end %>
